.grid {
    display: flex;
    flex-wrap: wrap; 
    --height: 240;  /* Minimal row height */
    --ratio: 1; /* Default aspect ratio for photos that are not loaded yet */
    padding-top: 10px;
  }

.item {
    flex: calc(var(--height) / var(--ratio));
    min-width: calc(var(--height) / var(--ratio) * 1px);
    margin: 2px;
    font-size: 0;
    display: block;
  }
  
.item img {
    width: 100%;
  }
  
.placeholder {
    flex-grow: 99999;
  }

  /* Nav bar styles */
  #li{
    text-align: justify;
    padding-left: 10px;
  }

  #space {
    margin-right: 920px;
  }

  #icon-space{
    margin-right: 30px;
  }


/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: auto;
  text-align: center;
}


.item:hover .overlay {
  opacity: 1;
}

