.cardGroup{
    background-color: white;
    padding: 10px;
    display: flex;
    color: #212529;
    /* width: 35%; */
    height: 120px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-right: 2%;
    cursor: pointer;
}
.groupAvatar{
    flex-basis: 25%;
}
.groupAvatar img{
    width: 80%;
    border-radius: 50%;
    padding: 2px;
    border: 5px #afb7bc;
    border-style: double;
}
.groupAvatar img:hover{
    padding: 4px;
    border: 5px rgb(121, 116, 116);
    border-style: double;
}
.titleAndjoin{
    display: flex;
    justify-content: space-between;
}

.groupInfo{
    display: flex;
    flex-direction: column;
    
    flex-basis: 75%;
    justify-content: space-between;
}
.gcardLinks{
    width: 100%;
}
.gcardLinks span{
    margin-right: 10px;
    pointer-events: none;
    z-index: 3;
}
.gcardLinks span,.gcardLinks a{
    color: darkgrey;
    z-index: 2;
}
.gcardLinks a svg{
    margin-right: 5px;
}
.gcardLinks a:hover{
    color: darkgrey;
}
.glast{
    float: right;
    margin-right: 0;
}
