.SearchPeople{
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: #f3f5f6;
}
.SearchPeople-cont{  
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
}
.SearchPeople-cont a{
    flex-basis: 35%;
    text-decoration: none;
    z-index: 1;
}
.SearchPeople-cont h4{
    width: 100%;
    font-weight: lighter;
}
.FollowingButton{
    flex-basis: 35%;
    position: relative;
}