

.uName{
    height: 250px;
    width: 100%;
    position: absolute;
    background-image: url(../../img/ddBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.uName .overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(255,255,255,0.25), rgba(0,0,0,0.75));
}

.uName .overlay:hover i{
    right: 186px;
    opacity: 1;
}

.uName .overlay{
    text-align: end;
}

.uName .overlay i{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 39px;
    /*right: -37px;*/
    right: 170px;
    opacity: 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.uName .overlay .userInfo{
    color: white !important;
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
    position: absolute;
}

.uName .overlay .userInfo img{
    width: 8%;
    border-radius: 50%;
    height: fit-content;

}

.uName .overlay .userInfo .nameAndInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 87%;
    justify-content: flex-end;
    font-weight: 300 !important;
}

.uName .overlay .userInfo .nameAndInfo .numbers {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.uName .overlay .userInfo .nameAndInfo .numbers ul{
    display: flex;
    width: fit-content;

}

.uName .overlay .userInfo .nameAndInfo .numbers ul li:last-child{
    margin-left: 30px;
}

.uName .overlay .userInfo .nameAndInfo .numbers .follwingFollowers{
    width: 50%;
    display: flex;
}

.uName .overlay .userInfo .nameAndInfo .numbers .joined{
    width: 29%;
    display: flex;
    justify-content: space-around;
}

@media(max-width:1250px){
    .uName .overlay .userInfo .nameAndInfo .numbers .joined p:last-child{
        display: none;
    }
}

@media(max-width:1150px){
    .uName .overlay .userInfo .nameAndInfo .numbers .joined{
        display: none;
    }
    .uName .overlay .userInfo .nameAndInfo .numbers .follwingFollowers{
        width: 100%;
    }
}

@media(max-width:812px){
    .uName .overlay .userInfo{
        height: 80%;
        align-items: center;
        transform: translate(-50%,-45%);
    }

    .uName .overlay .userInfo .nameAndInfo{
        align-items: center;
    }

    .uName .overlay .userInfo img{
        width: 25%;
    
    }

    .uName .overlay .userInfo .nameAndInfo .numbers {
        justify-content: center;
    }

    .uName .overlay .userInfo .nameAndInfo .numbers ul{
        padding: 0;
        margin: auto;
    }

    .uName .overlay .userInfo{
        display: flex;
        flex-direction: column;
    }

    .uName .overlay .userInfo .nameAndInfo .numbers .follwingFollowers p{
        display: none;
    }
}